{% extends 'main/layout.html' %}

{% block title %}Наші контакти{% endblock %}

{% block content  %}

 <div class="contacts-details">
         <h4>Графік роботи</h4>
            <p>Пн-Пт: 09:00-20:00<br>Сб: 10:00-19:00<br>Нд: 12:00-18:00<br></p>
        <h4>Дзвоніть:</h4>
            <p>(093) 713-97-20<br>(097) 543-15-16<br></p>
         <h4>Пишіть:</h4>
            <p>contacts@mysite.com<br></p>
        <h4>Маркетинг та співпраця:</h4>
            <p>marketing@mysite.com<br></p>
        <h4>Адреса офісу:</h4>
            <p>Львів, вул. Високий Замок, 1Б, офіс 42<br></p>
  </div>
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2572.7112402705657!2d24.03643790449345!3d49.847883020203724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1645453255563!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
{% endblock %}