{% extends 'main/layout.html' %}

{% block title %}Форма для додавання статті{% endblock %}

{% block content  %}
  <div class="features">
      <h3 style="text-align: center">Додайте вашу статтю</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.anons }}<br>
        {{ form.full_text }}<br>
        {{ form.date }}<br>
        {{ form.articles_img }}<br>
        <span>{{ error }}</span>
        <button class="btn btn-outline-info" type="submit" style="margin-left: 40%">Опублікувати</button>
    </form>
  </div>
{% endblock %}